@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");

body {
  font-family: "Roboto", san-serif;
}

/*------------------------------------------Extra Styles*/

.container-fluid {
  padding: 0;
  margin: 0;
}

.content-container {
  padding: 0 25px 0 25px;
  font-size: 1.25em;
  margin-bottom: 50px;
  border: 0;
}

.row {
  padding: 0;
  margin: 0;
  border: 0;
}

iframe {
  padding: 20px 0 20px 0;
}

/*------------------------------------------Section-Dividers*/

.section-divider {
  width: 80px;
  height: 6px;
  border: 0;
  margin-top: 0;
  background-color: #ecf0f1;
  margin-bottom: 35px;
}

.section-divider--dark {
  background-color: #3c3c3d;
}

.section-divider--color {
  background-color: #c99d66;
}

/*------------------------------------------Navbar*/

.navbar {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: transparent;
  z-index: 1;
  padding: 0;
}


.navbar-default .navbar-header {
  padding-left: 20px;
  margin: 0;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
  margin: 0;
}

.navbar-default .navbar-toggle {
  border: 0;
  padding-right: 20px;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3c3c3d;
}

.navbar .navbar-brand {
  color: #3c3c3d;
  font-weight: 600;
  padding: 10px 0 0 0;
}

.navbar .navbar-brand:hover {
  color: #c99d66;
}

.navbar-default .navbar-nav li {
  margin-top: 15px;
}

.navbar-default .navbar-nav li a {
  color: #ecf0f1;
  font: 1em "Roboto";
  margin: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #c99d66;
  background: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #c99d66;
  border: 1px solid #c99d66;
  background-color: rgba(0, 0, 0, 0.25);
}

/*------------------------------------------Welcome*/

.welcome-container {
  height: 100vh;
  min-height: 440px;
  max-height: 800px;
  background-image: url(https://john-e5.github.io/Milestone-Project-1-ETH/assets/images/ethereumbackg.gif);  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c99d66;

  position: relative;
  margin: 0;
  padding: 0;
}

.welcome {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: drop-shadow(-2px 5px 15px #c99d66);
}

.title {
  color: #c99d66;
  border-bottom: 0.5px solid #ecf0f1;
  font-weight: 600;
  padding: 0;
}

.text-right {
  font-size: 1.5em;
  color: #c99d66;
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.text-focus-in {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s
    both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}

/*------------------------------------------About*/

.about-container-wrapper {
  background-color: #c99d66;
}

.about {
  color: #3c3c3d;
}

.about-section-left em {
  color: #ecf0f1;
}

.about-section-right {
  padding-top: 25px;
}

.about-section-right em {
  color: #ecf0f1;
}

blockquote.quote {
  border-left: 5px solid #3c3c3d;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.05);
}
/*------------------------------------------How it Works*/

.howit-container-wrapper {
  background-color: #ecf0f1;
}

.howit {
  color: #c99d66;
}

.howit-section-right h3,
h4,
h5 {
  color: #c99d66;
}
/*------------------------------------------Smart Contracts*/

.smartc-container-wrapper {
  background-color: #3c3c3d;
}

.smartc {
  color: #c99d66;
}

.smartc-section-left,
.smartc-section-right {
  color: #c99d66;
}

.smartc-section-left h2,
.smartc-section-right h2 {
  color: #ecf0f1;
}

/*------------------------------------------DApps*/

.dapps-container-wrapper {
  background-color: #ecf0f1;
}

.dapps-section-left h2,
h3 {
  color: #c99d66;
}
/*------------------------------------------Resources*/

.resources-container-wrapper {
  background-color: #c99d66;
}

.links-unstyled,
.wallets-list {
  list-style: none;
  padding: 0;
}

/*------------------------------------------Footer*/

footer {
  background-color: #3c3c3d;
  color: #c99d66;
}

#footer-details {
  margin: 20px;
}

fieldset {
  margin-top: 50px;
}

.contact-form,
legend {
  border: 2px solid #c99d66;
  padding: 10px;
  color: #c99d66;
}

.ticker-info {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
}

.social-links {
  text-align: center;
  margin-top: 40px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  color: #3c3c3d;
  padding-top: 11px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 7px;
  background: #ecf0f1;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #c99d66;
}

/*------------------------------------------Modal*/

.modal-header {
  border-bottom: 0;
  background-color: #3c3c3d;
}

.modal-body {
  background-color: #c99d66;
}

.modal-footer {
  background-color: #3c3c3d;
  border-top: 0;
}

/*------------------------------------------Media Queries*/

@media screen and (max-width: 960px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
  }

  .navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
  .navbar-collapse .collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none;
  }
}
/*------------------------------------------Keyframes*/

/* ----------------------------------------------
 * Generated by Animista on 2018-9-11 19:45:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-11 19:48:36
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
