@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");

body {
  font-family: "Roboto", san-serif;
}

/*------------------------------------------Extra Styles*/

.container-fluid {
  padding: 0;
  margin: 0;
}

.content-container {
  padding: 0 25px 0 50px;
  font-size: 1.25em;
  margin-bottom: 50px;
  border: 0;
}

.row {
  padding: 0;
  margin: 0;
  border: 0;
}

iframe {
}

/*------------------------------------------Section-Dividers*/

.section-divider {
  width: 80px;
  height: 6px;
  border: 0;
  margin-top: 0;
  background-color: #ecf0f1;
}

.section-divider--dark {
  background-color: #3c3c3d;
}

.section-divider--color {
  background-color: #c99d66;
}

/*------------------------------------------Navbar*/

.navbar {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: transparent;
  z-index: 1;
  padding: 0;
}

.navbar-default .navbar-header {
  padding-left: 20px;
  margin: 0;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
  margin: 0;
}

.navbar-default .navbar-toggle {
  border: 0;
  padding-right: 20px;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar .navbar-brand {
  color: #3c3c3d;
}

.navbar .navbar-brand:hover {
  color: #c99d66;
}

.navbar-default .navbar-nav li {
  margin-top: 15px;
}

.navbar-default .navbar-nav li a {
  color: #3c3c3d;
  font-weight: 500;
  font: 1em "Roboto";
  margin: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #c99d66;
  background: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #c99d66;
  border: 1px solid #c99d66;
  background-color: rgba(0, 0, 0, 0.25);
}

/*------------------------------------------Jumbotron*/

.welcome-container {
  height: 100vh;

  background: url(/Milestone-Project-1-ETH/assets/images/ethereumbackg.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin: 0;
  padding: 0;
}

.welcome {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: drop-shadow(-2px 5px 15px #c99d66);
}

.welcome .title {
  color: #c99d66;
  border-bottom: 0.5px solid #c99d66;
  font-weight: 600;
  padding: 0;
}

/*------------------------------------------About*/

.about-container-wrapper {
  background-color: #c99d66;
}

.about {
  color: #3c3c3d;
}

.about-section-left em {
  color: #ecf0f1;
}

.about-section-right {
  padding-top: 25px;
}

.about-section-right em {
  color: #ecf0f1;
}

blockquote.quote {
  border-left: 5px solid #3c3c3d;
  margin-top: 50px;
}
/*------------------------------------------How it Works*/

.howit-container-wrapper {
  background-color: #ecf0f1;
}

.howit {
  color: #c99d66;
}

.howit-section-right h3,
h4,
h5 {
  color: #c99d66;
}
/*------------------------------------------Smart Contracts*/

.smartc-container-wrapper {
  background-color: #3c3c3d;
}

.smartc {
  color: #c99d66;
}

.smartc-section-left,
.smartc-section-right {
  color: #c99d66;
}

.smartc-section-left h2,
.smartc-section-right h2,
h3 {
  color: #ecf0f1;
}

/*------------------------------------------DApps*/

.dapps-container-wrapper {
  background-color: #ecf0f1;
}

.dapps-section-left h2,
h3 {
  color: #c99d66;
}
/*------------------------------------------Resources*/

.resources-container-wrapper {
  background-color: #c99d66;
}

.links-unstyled, .wallets-list{
  list-style: none;
}

 
/*------------------------------------------Footer*/

footer {
  background-color: #3c3c3d;
}
/*------------------------------------------Media Queries*/

/*------------------------------------------Keyframes*/
